@import "tailwindcss";
@plugin "tailwindcss-animate";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #f8fafc;
  --foreground: #0f172a;
  --bg: #ffffff;

  --primary: #4361ee;
  --secondary: #7b2cbf;
  --accent: #06d6a0;
  --neutral: #e2e8f0;
  --muted: #475569;
}

.dark {
    --bg: #1e293b;
    --background: #0f172a;
    --foreground: #f8fafc;

    --primary: #748ffc;
    --secondary: #9d4edd;
    --accent: #4ddbb0;
    --neutral: #1e293b;
    --muted: #94a3b8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-bg: var(--bg);
  --font-sans: var(--font-geist-sans);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-neutral: var(--neutral);
  --color-muted: var(--muted);
}

* {
  @apply transition-all;
}

button:disabled {
  @apply cursor-not-allowed opacity-70;
}
